*{

    margin: 0 auto;
    padding: 0 auto;

}

#contenedor{

    background-color: bisque;
    width: 900px;
    height: 1000px;
    padding: 20px;

}

#encabezado{

    background-color: rgb(230, 200, 149);
    height: 15%;

}

#menu{

    background-color: rgb(171, 161, 134);
    height: 5%;

}

#contenido{

    background-color: rgb(151, 158, 54);
    width: 64%;
    height: 500px;
    float: left;

    
}

#fueraseccion{

    background-color: rgb(190, 193, 79);
    width: 35%;
    height: 500px;
    float: right;

}

#pie{

    background-color: rgb(230, 200, 149);
    height: 10%;
    border: 1em;
    margin-top: 500px;

}



.texto{

    text-align: justify;
    font-family: 'Segoe UI';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

ul{

    text-align: center;

}

li{

    padding-left: 5px;
    padding-right: 5px;


}

img{

    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;

}

.barraNavegacion{

    display: inline;

}